[Interface]
PrivateKey = {{ private_key }}
Address = {{ ip_address }}/32
DNS = {{ dns }}
MTU = {{ mtu }}
Jc = {{ jc }}
Jmin = {{ jmin }}
Jmax = {{ jmax }}
S1 = {{ s1 }}
S2 = {{ s2 }}
H1 = {{ h1 }}
H2 = {{ h2 }}
H3 = {{ h3 }}
H4 = {{ h4 }}

[Peer]
PublicKey = {{ server_public_key }}
{% if preshared_key %}PresharedKey = {{ preshared_key }}
{% endif %}AllowedIPs = {{ allowed_ips | join(", ") }}
Endpoint = {{ endpoint }}
PersistentKeepalive = {{ persistent_keepalive }}
