[Interface]
PrivateKey = {{PRIVATE_KEY}}
Address = {{CLIENT_IP}}/32
DNS = {{DNS}}
MTU = {{MTU}}

# AmneziaWG параметры обфускации
Jc = {{Jc}}
Jmin = {{Jmin}}
Jmax = {{Jmax}}
S1 = {{S1}}
S2 = {{S2}}
H1 = {{H1}}
H2 = {{H2}}
H3 = {{H3}}
H4 = {{H4}}

[Peer]
PublicKey = {{SERVER_PUBLIC_KEY}}
AllowedIPs = {{ALLOWED_IPS}}
Endpoint = {{ENDPOINT}}
PersistentKeepalive = {{KEEPALIVE}}
