[Interface]
PrivateKey = {{PRIVATE_KEY}}
Address = {{CLIENT_IP}}/32
DNS = {{DNS}}
MTU = {{MTU}}

[Peer]
PublicKey = {{SERVER_PUBLIC_KEY}}
AllowedIPs = {{ALLOWED_IPS}}
Endpoint = {{ENDPOINT}}
PersistentKeepalive = {{KEEPALIVE}}
