[Interface]
PrivateKey = {{ private_key }}
Address = {{ ip_address }}/32
DNS = {{ dns }}
MTU = {{ mtu }}

[Peer]
PublicKey = {{ server_public_key }}
{% if preshared_key %}PresharedKey = {{ preshared_key }}
{% endif %}AllowedIPs = {{ allowed_ips | join(", ") }}
Endpoint = {{ endpoint }}
PersistentKeepalive = {{ persistent_keepalive }}
